// COLORS
$color-primary: #69868c;
$color-primary-light: #83adab;
$color-primary-dark: #243551;

$color-clear-blue: #6492ac;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #d2ddca;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;